p, blockquote, pre {
 font-family: Georgia, Times, "Times New Roman", serif;
 font-variant: normal; 
 font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
 font-family: Georgia, Times, "Times New Roman", serif;
 font-style: normal; 
 font-variant: normal; 
 font-weight: 700;
}

h1{
 font-size: 24px;
 line-height: 26.4px;
}

h2{
 font-size: 18px;
 line-height: 15.4px;
}

h3{
 font-size: 16px;
 line-height: 15.4px;
}

h4{
 font-size: 14px;
 line-height: 20px;
 font-weight: 400;
}

h5{
 font-size: 13px;
}

h6{
 font-size: 12px;
}

p {
  font-size: 14px;
  line-height: 20px;
}

blockquote {
  font-size: 21px;
  line-height: 30px; 
}

pre {
  font-size: 13px;
  line-height: 18.5714px; 
}
