body, p, li {
 font-family: 'Work Sans', sans-serif;
 font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Crimson Text', serif;
}

h1{
 font-size: 48px;
}

h2{
 font-size: 36px;
}

h3{
 font-size: 24px;
}

h4{
 font-size: 18px;
}

h5{
 font-size: 16px;
}

h6{
 font-size: 15px;
}

