.geo{
  float:left;
}

.state {
  stroke: #666;
  stroke-width:0.5px;
  fill-opacity:white;
}

.state:hover {
    fill: orange;
  }

.tooltip { 
          position: absolute;     
          text-align: center;     
          width: 80px;          
          height: 14px;         
          padding: 2px;       
          font: 12px sans-serif;    
          background: #fff; 
          border: 0px;        
          pointer-events: none;     
}
#wrapper {
    width: 960px;
    margin: 0px auto 0;
}

#play, #clock {
  position: absolute;
  top: 15px;
}
#play {
	left: 15px;
}
#clock {
	left: 65px;
}