.geo{
  float:left;
}

.state {
  stroke: #666;
  stroke-width:0.5px;
  fill-opacity:white;
}

.state:hover {
    fill: orange;
  }

.d3map{
  width:100%;
  height:100%;
}

.National_title{
  font-size:32px;
  text-align: left;
}
.explore_but {
  margin-left:0%;
}


.tooltip { 
          position: absolute;     
          text-align: center;     
          width: 80px;          
          height: 14px;         
          padding: 2px;         
          background: #fff; 
          border: 0px;        
          pointer-events: none;     
}

.landing_page_map{
  display:center;
}

#play {

}
#clock {
	left: 65px;
}

.ul_period {
  list-style-type: none;
  margin: 0;
  display: flex; 
  overflow: hidden;
}


.period_text {
  margin: 15px;
  font-size:1.0em;
  padding: 10px;
  float: left;
  border: solid;
  border-width: 1px;
  background: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-variant: normal; 
  font-weight: 400;
}

@media screen and (min-width : 1601px)
  {
  .period_text {
  font-size: 18px;
            }
}
@media screen and (max-width : 1600px)
{
.period_text {
font-size: 14px;
       }
}
@media screen and (max-width : 1200px)
{
.period_text {
font-size: 10px;
       }
}

