.container-fluid {
  padding:0px;
}

.main {
  width:100%;
  padding:0;
}

.navbar {
  border:0;
  border-radius:0px;
  z-index: 999;
  background-color:black;
  position:fixed;
  top:0;
  width:100%;
  height:50px;
  margin-bottom:0;
  opacity: 0.95;
  box-shadow: 0 2px 5px 2px rgba(0,0,0,.2);
}
.tx {
  color:white;
}
.logo {
  float:left;
  padding-left:10px;
  padding-right:10px;
  height:80%;
  width:200px;
}

.navbar a {
  float: left;
  display: block;
  color: red;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-family:'Roboto',sans-serif;
}

.navbar a:hover {
  color: black;
  background-color:rgb(159,159,159);
}

#download_data {
  color:black;
  padding-top:6px;
  padding-bottom:6px;
  padding-right:12px;
  padding-left:12px;
}

#frontpage{
  width:100%;
  height:100vh;
  background-color:black;
}
h1 {
    left: 0;
    margin-top: 2%;
    position: static;
    text-align: center;
    top: 50%;
    width: 100%;
    font-size:30px;
    color:white;
}
.block1
{
  height:66%;
  width:100%;
}

.buttonblock1{
  display:block;
  float:left;
  height:100%;
  width:25%;
}
.img{
    margin-top:3%;
    display: block;
    float:left;
    width: 50%;
    position:static;
}
.buttonblock2{
  display:block;
  float:left;
  height:100%;
  width:25%;
}
.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  font-size:32;
  text-align: center;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left:43%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.result {
  display:full;
  width:100%;
  height: calc(100% - 41px);
}

#page1 {
  z-index:0;
  display:block;
  padding-top:60px;
  width:100%;
  height: 100vh;
  background-color:black;
}
